.currency-dropdown {
  position: relative;

  &__btn {
    display: inline-block;
    vertical-align: middle;
    padding: 10px 9px;
    width: 100%;
    font-style: normal;
    font-size: 17px;
    line-height: 17px;
    text-transform: uppercase;
    color: var(--text-color);
    transition: color var(--transition), background-color var(--transition);

    &:last-child {
      border-radius: inherit;
    }

    &:not(&--open) {
      @include hover {
        color: var(--accent-color);
        background-color: #fff3f3;
      }
    }

    &--open {
      border-radius: 12px;

      .currency-dropdown__text {
        display: inline-block;
        vertical-align: middle;
        padding: 0 12px;

        @include mobile {
          vertical-align: initial;
          padding: 0 8px;
        }
      }
    }

    @include mobile {
      font-size: 15px;
    }
  }

  &__list {
    position: absolute;
    left: 0;
    z-index: 5;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity var(--transition), visibility var(--transition);
  }

  &__item {
    border-top: 1px solid #e7e7e7;
    background-color: #f8f8f8;

    &:last-child {
      border-radius: 0 0 12px 12px;
    }
  }

  &__icon {
    transition: transform var(--transition), fill var(--transition);
    pointer-events: none;
  }

  &__image {
    display: inline-block;
    vertical-align: middle;
    border-radius: 3px;
    pointer-events: none;
  }

  &__text {
    display: inline-block;
    vertical-align: middle;
    padding: 0 21px;
    pointer-events: none;

    @include mobile {
      vertical-align: initial;
      padding: 0 16.5px;
    }
  }
}

.currency-dropdown.dropdown-active {
  .currency-dropdown__icon {
    fill: var(--accent-color);
    transform: rotate(90deg);
  }

  .currency-dropdown__list {
    opacity: 1;
    visibility: visible;
  }

  .currency-dropdown__btn--open {
    border-radius: 12px 12px 0 0;
  }
}
