.currency {
  &__btn {
    display: flex;
    align-items: center;
    padding: 10px 9px;
    font-style: normal;
    font-size: 17px;
    line-height: 17px;
    text-transform: uppercase;
    color: var(--text-color);
    gap: 12px;

    &:hover {
      .currency__icon {
        fill: var(--accent-color);
        transform: rotate(90deg);
      }
    }

    &--active {
      .currency__icon {
        fill: var(--accent-color);
        transform: rotate(90deg);
      }
    }
  }

  &__icon {
    transition: transform var(--transition), fill var(--transition);
  }

  &__image {
    border-radius: 3px;
  }
}
