.line {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -15px;
    display: block;
    width: 50px;
    height: 2px;
    background-color: currentcolor;

    @include mobile {
      left: 50%;
      width: 70px;
      transform: translateX(-50%);
    }
  }

  &--footer {
    &::after {
      left: 0;
      width: 50px;

      @include tablet {
        left: 8%;
      }
    }
  }
}
