<header class="header">
  <div class="container">
    <div class="header-top">
      <div class="header-top__right">
        <div class="header-top__wrapper">
          <svg class="header-top__icon" width="14" height="18">
            <use xlink:href="img/sprite.svg#lock"></use>
          </svg>
          <a href="#" class="header-top__link">Войти / Зарегистрироваться</a>
        </div>
      </div>

      <div class="header-top__left">
        <div class="currency-dropdown header__currency-dropdown" data-dropdown>
          <button
            class="currency-dropdown__btn currency-dropdown__btn--open btn-reset"
            aria-label="Открыть выпадающее меню выбора валюты"
            data-name="USA"
            data-dropdown-button>
            <img
              src="../img/flags/usa.png"
              alt=""
              aria-hidden="true"
              width="27"
              height="18"
              class="currency-dropdown__image" />
            <span class="currency-dropdown__text">usd</span>
            <svg class="currency-dropdown__icon" width="12" height="12">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </button>
          <ul class="currency-dropdown__list list-reset">
            <li class="currency-dropdown__item">
              <button class="currency-dropdown__btn btn-reset" data-name="BYN">
                <img
                  src="../img/flags/bel.png"
                  alt=""
                  aria-hidden="true"
                  width="27"
                  height="18"
                  class="currency-dropdown__image" />
                <span class="currency-dropdown__text">byn</span>
              </button>
            </li>
            <li class="currency-dropdown__item">
              <button class="currency-dropdown__btn btn-reset" data-name="RUS">
                <img
                  src="../img/flags/rus.png"
                  alt=""
                  aria-hidden="true"
                  width="27"
                  height="18"
                  class="currency-dropdown__image" />
                <span class="currency-dropdown__text">rub</span>
              </button>
            </li>
            <li class="currency-dropdown__item">
              <button class="currency-dropdown__btn btn-reset" data-name="EUR">
                <img
                  src="../img/flags/es.png"
                  alt=""
                  aria-hidden="true"
                  width="27"
                  height="18"
                  class="currency-dropdown__image" />
                <span class="currency-dropdown__text">eur</span>
              </button>
            </li>
          </ul>
        </div>
        <div class="header-top__wrapper">
          <svg class="header-top__icon" width="24" height="22">
            <use xlink:href="img/sprite.svg#cart"></use>
          </svg>
          <a href="#" class="header-top__link">Оформить заказ</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="header-main">
      <h1 class="visually-hidden">Beldama - Интернет-магазин одежды</h1>

      <a class="header-main__phone" href="tel:+375298444909">
        <svg class="header-main__icon" width="17" height="17">
          <use xlink:href="img/sprite.svg#phone"></use>
        </svg>
        <span class="header-main__number">+375 29 8 444 909</span>
        <span class="header-main__operator">мтс</span>
      </a>

      <a href="/">
        <img class="logo" src="../img/logo.svg" alt="Логотип магазина Beldama" width="190" height="145" />
      </a>

      <div class="header-main__right">
        <form action="/" class="search">
          <input name="search" type="text" class="input-reset search__input" placeholder="Поиск по сайту" />

          <button type="button" class="btn-reset search__btn" title="Поиск">
            <svg class="search__icon header-main__icon" width="24" height="24">
              <use xlink:href="img/sprite.svg#search"></use>
            </svg>
          </button>
        </form>

        <nav class="user-nav" aria-label="Пользовательская навигация">
          <ul class="user-nav__list list-reset">
            <li class="user-nav__item">
              <a href="#" class="user-nav__link" title="Избранные">
                <svg class="user-nav__icon" width="25" height="24">
                  <use xlink:href="img/sprite.svg#heart"></use>
                </svg>
              </a>
            </li>
            <li class="user-nav__item">
              <a href="#" class="user-nav__link" title="Корзина">
                <svg class="user-nav__icon" width="20" height="24">
                  <use xlink:href="img/sprite.svg#bag"></use>
                </svg>
              </a>
            </li>
          </ul>
        </nav>

        <button class="burger header-main__burger" aria-label="Открыть меню" aria-expanded="false" data-burger="main">
          <span class="burger__line"></span>
        </button>
      </div>
    </div>
  </div>
  <div class="header-bottom menu" data-menu="main">
    <nav class="nav main-nav" aria-label="Основная навигация">
      <div class="container main-nav__container">
        <button
          class="burger main-nav__close burger--close"
          aria-label="Закрыть меню "
          aria-expanded="true"
          data-menu-close>
          <span class="burger__line"></span>
        </button>
        <ul class="main-nav__list nav__list list-reset">
          <li class="main-nav__item nav__item">
            <a href="/" class="main-nav__link nav__link nav__link--active">Главная</a>
          </li>
          <li class="main-nav__item nav__item main-nav__btn">
            <div class="catalog-dropdown" data-dropdown>
              <button
                class="btn-reset catalog-dropdown__btn"
                aria-label="Открыть выпадающий каталог"
                data-dropdown-button>
                <span>Каталог</span>
                <svg class="catalog-dropdown__icon" width="12" height="12">
                  <use xlink:href="img/sprite.svg#arrow"></use>
                </svg>
              </button>
              <div class="catalog-dropdown__list list-reset catalog-submenu">
                <div class="catalog-dropdown__overlay"></div>
                <button class="btn-reset catalog-dropdown__btn catalog-dropdown__btn--back" data-dropdown-button>
                  <span>Назад</span>
                  <svg class="catalog-dropdown__icon" width="12" height="12">
                    <use xlink:href="img/sprite.svg#arrow"></use>
                  </svg>
                </button>
                <ul class="catalog-submenu__list catalog-submenu__list--main list-reset">
                  <li class="catalog-dropdown__item catalog-dropdown__item--main">
                    <h3 class="catalog-submenu__title line">Категории:</h3>
                    <ul class="catalog-submenu__list list-reset">
                      <li class="catalog-submenu__item">
                        <a href="#" class="catalog-submenu__link catalog-submenu__link--active">Костюм брючный</a>
                      </li>
                      <li class="catalog-submenu__item">
                        <a href="#" class="catalog-submenu__link">Комплект</a>
                      </li>
                      <li class="catalog-submenu__item">
                        <a href="#" class="catalog-submenu__link">Сарафан</a>
                      </li>
                      <li class="catalog-submenu__item">
                        <a href="#" class="catalog-submenu__link">Платье</a>
                      </li>
                      <li class="catalog-submenu__item">
                        <a href="#" class="catalog-submenu__link">Юбка</a>
                      </li>
                      <li class="catalog-submenu__item">
                        <a href="#" class="catalog-submenu__link">Комбинезон</a>
                      </li>
                      <li class="catalog-submenu__item">
                        <a href="#" class="catalog-submenu__link">Кардиган/джемпер</a>
                      </li>
                      <li class="catalog-submenu__item">
                        <a href="#" class="catalog-submenu__link">Куртка</a>
                      </li>
                      <li class="catalog-submenu__item">
                        <a href="#" class="catalog-submenu__link">Пальто</a>
                      </li>
                      <li class="catalog-submenu__item">
                        <a href="#" class="catalog-submenu__link">Туника</a>
                      </li>
                      <li class="catalog-submenu__item">
                        <a href="#" class="catalog-submenu__link">Плащ</a>
                      </li>
                      <li class="catalog-submenu__item">
                        <a href="#" class="catalog-submenu__link">Блуза</a>
                      </li>
                      <li class="catalog-submenu__item">
                        <a href="#" class="catalog-submenu__link">Жакет/жилет</a>
                      </li>
                      <li class="catalog-submenu__item">
                        <a href="#" class="catalog-submenu__link">Брюки</a>
                      </li>
                    </ul>
                  </li>
                  <li class="catalog-dropdown__item catalog-dropdown__item--main">
                    <h3 class="catalog-submenu__title line">Популярные бренды:</h3>
                    <ul class="catalog-submenu__list list-reset">
                      <li class="catalog-submenu__item">
                        <a href="#" class="catalog-submenu__link">AGATTI</a>
                      </li>
                      <li class="catalog-submenu__item">
                        <a href="#" class="catalog-submenu__link">BEAUTY ANNETE</a>
                      </li>
                      <li class="catalog-submenu__item">
                        <a href="#" class="catalog-submenu__link">BEAUTIFUL-FREE</a>
                      </li>
                      <li class="catalog-submenu__item">
                        <a href="#" class="catalog-submenu__link">DIAMANT</a>
                      </li>
                      <li class="catalog-submenu__item">
                        <a href="#" class="catalog-submenu__link">DOGGI</a>
                      </li>
                      <li class="catalog-submenu__item">
                        <a href="#" class="catalog-submenu__link">ELITEMODA</a>
                      </li>
                      <li class="catalog-submenu__item">
                        <a href="#" class="catalog-submenu__link">BEAUTY ANNETE</a>
                      </li>
                      <li class="catalog-submenu__item">
                        <a href="#" class="catalog-submenu__link">AGATTI</a>
                      </li>
                      <li class="catalog-submenu__item">
                        <a href="#" class="catalog-submenu__link">DIAMANT</a>
                      </li>
                      <li class="catalog-submenu__item">
                        <a href="#" class="catalog-submenu__link">ELITEMODA</a>
                      </li>
                      <li class="catalog-submenu__item">
                        <a href="#" class="catalog-submenu__link">BEAUTIFUL-FREE</a>
                      </li>
                      <li class="catalog-submenu__item">
                        <a href="#" class="catalog-submenu__link">DIAMANT</a>
                      </li>
                      <li class="catalog-submenu__item">
                        <a href="#" class="catalog-submenu__link">DOGGI</a>
                      </li>
                      <li class="catalog-submenu__item">
                        <a href="#" class="catalog-submenu__link">BEAUTY ANNETE</a>
                      </li>
                      <li class="catalog-submenu__item">
                        <a href="#" class="catalog-submenu__link">AGATTI</a>
                      </li>
                      <li class="catalog-submenu__item">
                        <a href="#" class="catalog-submenu__link catalog-submenu__link--rest">Смотреть все бренды</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="main-nav__item nav__item">
            <a href="#" class="main-nav__link nav__link">Оплата</a>
          </li>
          <li class="main-nav__item nav__item">
            <a href="#" class="main-nav__link nav__link">Доставка и возврат</a>
          </li>
          <li class="main-nav__item nav__item">
            <a href="#" class="main-nav__link nav__link">Отзыв</a>
          </li>
          <li class="main-nav__item nav__item">
            <a href="#" class="main-nav__link nav__link">Контакты</a>
          </li>
        </ul>
      </div>
    </nav>

    <nav class="nav product-nav" aria-label="Навигация по типам товаров">
      <div class="container">
        <ul class="nav__list product-nav__list list-reset">
          <li class="nav__item">
            <a href="#" class="nav__link">Новинки</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Платья</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Жакеты</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Блузки</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Бренды</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="overlay" data-menu-overlay></div>
</header>
