<section class="product-section">
  <div class="container">
    <h2 class="product-section__title line">Последние новинки</h2>

    <div class="product-section__items">
      <div class="product-item">
        <a href="#" class="product-item__link">
          <div class="product-item__image-wrapper">
            <picture>
              <source srcset="../img/product/product-1.webp" type="image/webp" />
              <img
                loading="lazy"
                src="../img/product/product-1.png"
                class="product-item__image"
                width="268"
                height="331"
                alt="Изображение товара 1" />
            </picture>
            <div class="promo product-item__promo">
              <span class="promo__item">hot</span>
              <span class="promo__item promo__item--second">new</span>
            </div>
          </div>
          <div class="product-item__content">
            <h3 class="product-item__name">Костюм юбочный</h3>
            <p class="product-item__desc">lenata 21086</p>
            <div class="product-item__price-wrapper">
              <p class="product-item__price">190 <span class="product-item__currency">byn</span></p>
            </div>
          </div>
        </a>

        <div class="product-item__sizes">
          <a href="#" class="product-item__link">
            <h4 class="product-item__sizes-title">Размеры</h4>
            <ul class="list-reset product-item__sizes-list">
              <li class="product-item__sizes-item">51</li>
              <li class="product-item__sizes-item">52</li>
              <li class="product-item__sizes-item">53</li>
              <li class="product-item__sizes-item">54</li>
              <li class="product-item__sizes-item">55</li>
              <li class="product-item__sizes-item">56</li>
            </ul>
          </a>
          <a class="product-item__button" href="#" title="Перейти к товару">
            <svg class="product-item__icon" width="22" height="15">
              <use xlink:href="img/sprite.svg#big-arrow"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="product-item">
        <a href="#" class="product-item__link">
          <div class="product-item__image-wrapper">
            <picture>
              <source srcset="../img/product/product-2.webp" type="image/webp" />
              <img
                loading="lazy"
                src="../img/product/product-2.png"
                class="product-item__image"
                width="268"
                height="331"
                alt="Изображение товара 2" />
            </picture>
            <div class="promo product-item__promo">
              <span class="promo__item">new</span>
            </div>
          </div>
          <div class="product-item__content">
            <h3 class="product-item__name">Костюм юбочный</h3>
            <p class="product-item__desc">lenata 21086</p>
            <div class="product-item__price-wrapper">
              <p class="product-item__price">120 <span class="product-item__currency">byn</span></p>
            </div>
          </div>
        </a>

        <div class="product-item__sizes">
          <a href="#" class="product-item__link">
            <h4 class="product-item__sizes-title">Размеры</h4>
            <ul class="list-reset product-item__sizes-list">
              <li class="product-item__sizes-item">51</li>
              <li class="product-item__sizes-item">52</li>
              <li class="product-item__sizes-item">53</li>
              <li class="product-item__sizes-item">54</li>
              <li class="product-item__sizes-item">55</li>
              <li class="product-item__sizes-item">56</li>
            </ul>
          </a>
          <a class="product-item__button" href="#" title="Перейти к товару">
            <svg class="product-item__icon" width="22" height="15">
              <use xlink:href="img/sprite.svg#big-arrow"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="product-item">
        <a href="#" class="product-item__link">
          <div class="product-item__image-wrapper">
            <picture>
              <source srcset="../img/product/product-3.webp" type="image/webp" />
              <img
                loading="lazy"
                src="../img/product/product-3.png"
                class="product-item__image"
                width="268"
                height="331"
                alt="Изображение товара 3" />
            </picture>
          </div>
          <div class="product-item__content">
            <h3 class="product-item__name">Костюм юбочный</h3>
            <p class="product-item__desc">lenata 21086</p>
            <div class="product-item__price-wrapper">
              <p class="product-item__price">140 <span class="product-item__currency">byn</span></p>
            </div>
          </div>
        </a>

        <div class="product-item__sizes">
          <a href="#" class="product-item__link">
            <h4 class="product-item__sizes-title">Размеры</h4>
            <ul class="list-reset product-item__sizes-list">
              <li class="product-item__sizes-item">51</li>
              <li class="product-item__sizes-item">52</li>
              <li class="product-item__sizes-item">53</li>
              <li class="product-item__sizes-item">54</li>
              <li class="product-item__sizes-item">55</li>
              <li class="product-item__sizes-item">56</li>
            </ul>
          </a>
          <a class="product-item__button" href="#" title="Перейти к товару">
            <svg class="product-item__icon" width="22" height="15">
              <use xlink:href="img/sprite.svg#big-arrow"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="product-item">
        <div class="timer">
          <p class="timer__title">самая низкая цена в интернете</p>
          <!--Дату окончания скидки класть в datetime-->
          <time datetime="2023-02-20 15:30" class="timer__time">00:00:00</time>
        </div>
        <a href="#" class="product-item__link">
          <div class="product-item__image-wrapper">
            <picture>
              <source srcset="../img/product/product-4.webp" type="image/webp" />
              <img
                loading="lazy"
                src="../img/product/product-4.png"
                class="product-item__image"
                width="268"
                height="331"
                alt="Изображение товара 4" />
            </picture>
            <div class="promo product-item__promo">
              <span class="promo__item">hot</span>
            </div>
          </div>
          <div class="product-item__content">
            <h3 class="product-item__name">Костюм юбочный</h3>
            <p class="product-item__desc">lenata 21086</p>
            <div class="product-item__price-wrapper">
              <p class="product-item__price">220 <span class="product-item__currency">byn</span></p>
              <s class="product-item__price product-item__price--old">
                270 <span class="product-item__currency">byn</span>
              </s>
            </div>
          </div>
        </a>

        <div class="product-item__sizes">
          <a href="#" class="product-item__link">
            <h4 class="product-item__sizes-title">Размеры</h4>
            <ul class="list-reset product-item__sizes-list">
              <li class="product-item__sizes-item">51</li>
              <li class="product-item__sizes-item">52</li>
              <li class="product-item__sizes-item">53</li>
              <li class="product-item__sizes-item">54</li>
              <li class="product-item__sizes-item">55</li>
              <li class="product-item__sizes-item">56</li>
            </ul>
          </a>
          <a class="product-item__button" href="#" title="Перейти к товару">
            <svg class="product-item__icon" width="22" height="15">
              <use xlink:href="img/sprite.svg#big-arrow"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="product-item">
        <a href="#" class="product-item__link">
          <div class="product-item__image-wrapper">
            <picture>
              <source srcset="../img/product/product-5.webp" type="image/webp" />
              <img
                loading="lazy"
                src="../img/product/product-5.png"
                class="product-item__image"
                width="268"
                height="331"
                alt="Изображение товара 5" />
            </picture>
            <div class="promo product-item__promo">
              <span class="promo__item">new</span>
            </div>
          </div>
          <div class="product-item__content">
            <h3 class="product-item__name">Костюм юбочный</h3>
            <p class="product-item__desc">lenata 21086</p>
            <div class="product-item__price-wrapper">
              <p class="product-item__price">340 <span class="product-item__currency">byn</span></p>
            </div>
          </div>
        </a>

        <div class="product-item__sizes">
          <a href="#" class="product-item__link">
            <h4 class="product-item__sizes-title">Размеры</h4>
            <ul class="list-reset product-item__sizes-list">
              <li class="product-item__sizes-item">51</li>
              <li class="product-item__sizes-item">52</li>
              <li class="product-item__sizes-item">53</li>
              <li class="product-item__sizes-item">54</li>
              <li class="product-item__sizes-item">55</li>
              <li class="product-item__sizes-item">56</li>
            </ul>
          </a>
          <a class="product-item__button" href="#" title="Перейти к товару">
            <svg class="product-item__icon" width="22" height="15">
              <use xlink:href="img/sprite.svg#big-arrow"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="product-item">
        <div class="timer">
          <p class="timer__title">самая низкая цена в интернете</p>
          <!--Дату окончания скидки класть в datetime-->
          <time datetime="2023-05-15 19:00" class="timer__time">00:00:00</time>
        </div>
        <a href="#" class="product-item__link">
          <div class="product-item__image-wrapper">
            <picture>
              <source srcset="../img/product/product-6.webp" type="image/webp" />
              <img
                loading="lazy"
                src="../img/product/product-6.png"
                class="product-item__image"
                width="268"
                height="331"
                alt="Изображение товара 6" />
            </picture>
            <div class="promo product-item__promo">
              <span class="promo__item">new</span>
            </div>
          </div>
          <div class="product-item__content">
            <h3 class="product-item__name">Костюм юбочный</h3>
            <p class="product-item__desc">lenata 21086</p>
            <div class="product-item__price-wrapper">
              <p class="product-item__price">190 <span class="product-item__currency">byn</span></p>
              <s class="product-item__price product-item__price--old">
                240 <span class="product-item__currency">byn</span>
              </s>
            </div>
          </div>
        </a>

        <div class="product-item__sizes">
          <a href="#" class="product-item__link">
            <h4 class="product-item__sizes-title">Размеры</h4>
            <ul class="list-reset product-item__sizes-list">
              <li class="product-item__sizes-item">51</li>
              <li class="product-item__sizes-item">52</li>
              <li class="product-item__sizes-item">53</li>
              <li class="product-item__sizes-item">54</li>
              <li class="product-item__sizes-item">55</li>
              <li class="product-item__sizes-item">56</li>
            </ul>
          </a>
          <a class="product-item__button" href="#" title="Перейти к товару">
            <svg class="product-item__icon" width="22" height="15">
              <use xlink:href="img/sprite.svg#big-arrow"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="product-item">
        <a href="#" class="product-item__link">
          <div class="product-item__image-wrapper">
            <picture>
              <source srcset="../img/product/product-7.webp" type="image/webp" />
              <img
                loading="lazy"
                src="../img/product/product-7.png"
                class="product-item__image"
                width="268"
                height="331"
                alt="Изображение товара 7" />
            </picture>
          </div>
          <div class="product-item__content">
            <h3 class="product-item__name">Костюм юбочный</h3>
            <p class="product-item__desc">lenata 21086</p>
            <div class="product-item__price-wrapper">
              <p class="product-item__price">130 <span class="product-item__currency">byn</span></p>
            </div>
          </div>
        </a>

        <div class="product-item__sizes">
          <a href="#" class="product-item__link">
            <h4 class="product-item__sizes-title">Размеры</h4>
            <ul class="list-reset product-item__sizes-list">
              <li class="product-item__sizes-item">51</li>
              <li class="product-item__sizes-item">52</li>
              <li class="product-item__sizes-item">53</li>
              <li class="product-item__sizes-item">54</li>
              <li class="product-item__sizes-item">55</li>
              <li class="product-item__sizes-item">56</li>
            </ul>
          </a>
          <a class="product-item__button" href="#" title="Перейти к товару">
            <svg class="product-item__icon" width="22" height="15">
              <use xlink:href="img/sprite.svg#big-arrow"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="product-item">
        <a href="#" class="product-item__link">
          <div class="product-item__image-wrapper">
            <picture>
              <source srcset="../img/product/product-8.webp" type="image/webp" />
              <img
                loading="lazy"
                src="../img/product/product-8.png"
                class="product-item__image"
                width="268"
                height="331"
                alt="Изображение товара 8" />
            </picture>
            <div class="promo product-item__promo">
              <span class="promo__item">hot</span>
            </div>
          </div>
          <div class="product-item__content">
            <h3 class="product-item__name">Костюм юбочный</h3>
            <p class="product-item__desc">lenata 21086</p>
            <div class="product-item__price-wrapper">
              <p class="product-item__price">160 <span class="product-item__currency">byn</span></p>
            </div>
          </div>
        </a>

        <div class="product-item__sizes">
          <a href="#" class="product-item__link">
            <h4 class="product-item__sizes-title">Размеры</h4>
            <ul class="list-reset product-item__sizes-list">
              <li class="product-item__sizes-item">51</li>
              <li class="product-item__sizes-item">52</li>
              <li class="product-item__sizes-item">53</li>
              <li class="product-item__sizes-item">54</li>
              <li class="product-item__sizes-item">55</li>
              <li class="product-item__sizes-item">56</li>
            </ul>
          </a>
          <a class="product-item__button" href="#" title="Перейти к товару">
            <svg class="product-item__icon" width="22" height="15">
              <use xlink:href="img/sprite.svg#big-arrow"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
