<div class="ticker">
  <div class="ticker__wrapper">
    <div class="ticker__item">самые н<span>из</span>кие цены в интернете хх</div>
    <div class="ticker__item">самые н<span>из</span>кие цены в интернете хх</div>
    <div class="ticker__item">самые н<span>из</span>кие цены в интернете хх</div>
    <div class="ticker__item">самые н<span>из</span>кие цены в интернете хх</div>
    <div class="ticker__item">самые н<span>из</span>кие цены в интернете хх</div>
    <div class="ticker__item">самые н<span>из</span>кие цены в интернете хх</div>
    <div class="ticker__item">самые н<span>из</span>кие цены в интернете хх</div>
  </div>
</div>
